In [18]:
# instalar o pandas
# pip instal pandas ( no prompt de comando)

import pandas as pd

In [19]:
df = pd.read_csv("dados_faturamento.csv", sep=";")

In [26]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.head(3)

,ANO,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ
0,2020,87531.82,78992.25,51298.60,41568.95,40837.75,45793.36,61307.22,75298.61,116317.72,120076.40,124489.80,255932.38
1,2021,97343.06,64754.95,69930.85,60677.35,103995.55,100087.68,98059.95,88312.64,128227.15,130042.04,121562.80,232164.14
2,2022,62528.64,61471.90,81758.71,87421.15,113758.65,55142.00,106121.41,62390.00,41309.00,75847.00,67904.25,NaN

In [21]:
df.dtypes

ANO      int64
JAN    float64
FEV    float64
MAR    float64
ABR    float64
MAI    float64
JUN    float64
JUL    float64
AGO    float64
SET    float64
OUT    float64
NOV    float64
DEZ    float64
dtype: object

Somatório da coluna do mês de janeiro

In [35]:
df['JAN'].sum()

247403.52000000002